.twine {
    width: 99vw;
    display: flex;
  }
  
  .light {
    flex: 2;
  }
  
  .dark {
    flex: 1;
    overflow: auto;
    height: 100vh;
    position: sticky;
    top: 0;
    padding-right: 9px;
    scrollbar-width: thin;
  }
  
  .reflector {
    opacity: 0;
    animation: fadeInOut 18s infinite alternate;
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }